.basket-item{
    
    background-color: lightsteelblue;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}
.bougth-item {
    text-decoration: line-through;
}

span{
    width: 85%;
}


